.imageOfMe {
    width: 20%;
    float: right;
    border-radius: 140%;
    margin-right: 10%;
    margin-top: 100px;
}

.github {
    text-align: center;
    position: relative;
    top: 120px;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 50px;
}

.linkedin {
    text-align: center;
    position: relative;
    top: 112px;
    left: 42%;
    transform: translate(-50%, -50%);
    width: 50px;
}
